@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PicDo</h1>
    <p class="lead"> VIEWABLE - UPLOADABLE - DOWNLOADABLE </p>
    <p><a href="https://localhost:44378/Image/FileUpload" class="btn btn-primary btn-lg">UPLOAD</a></p>
</div>


